TCAPractice/TCAPractice.xcodeproj/project.xcworkspace/contents.xcworkspacedata
TCAPractice/TCAPractice.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
TCAPractice/TCAPractice.xcodeproj/project.xcworkspace/xcuserdata/inswag.xcuserdatad/UserInterfaceState.xcuserstate
TCAPractice/TCAPractice.xcodeproj/xcuserdata/inswag.xcuserdatad/xcschemes/xcschememanagement.plist
